{% extends "base.html" %}

{% block content %}

    <img src="{{user.image_url}}" alt="">
    <h1>{{user.first_name}} {{user.last_name}}</h1>

    <!-- <button> <a href="/users/{{user.id}}/edit">Edit</a> </button>
    <button> <a href="/users/{{user.id}}/delete">Delete</a> </button> -->

    <form action="/users/{{user.id}}/edit">
        <input type="submit" value="Edit">
    </form>
    <form action="/users/{{user.id}}/delete">
        <input type="submit" value="Delete">
    </form>

{% endblock %}