{% extends "base.html" %}

{% block content %}
    <section class="user_profile">
        <div class="user-img">
            <img src="{{user.image_url}}" alt="User image">
        </div>

        <div class="user-info">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
        <div>
            <form action="/users/{{user.id}}/edit">
                <input type="submit" value="Edit" class="button">
            </form>
        
            <form action="/users/{{user.id}}/delete" method="POST">
                <input type="submit" value="Delete" class="button">
            </form>
        </div>

        <ul>
            {% if user.posts%}
                {% for post in user.posts%}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            {% else %}
                <li>No posts yet!</li>
            {% endif %}
            <!-- {% for post in user.posts%}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %} -->
        </ul>
        <form action="/users/{{user.id}}/posts/new">
            <input type="submit" value="Add Post" class="button">
        </form>
        </div>
    </section>


    <!-- <button> <a href="/users/{{user.id}}/edit">Edit</a> </button>
    <button> <a href="/users/{{user.id}}/delete">Delete</a> </button> -->


{% endblock %}