*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 1.5em;
}

a:hover{
    text-decoration: underline;
}

.nav-link{
    margin-left: 30px;
    margin-top: 30px;
}



.button{
    font-size: .8em;
    padding: .5rem;
    width: 50%;
    margin: 5px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-radius: .25rem;
    cursor: pointer;
}


.btn-input{
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-radius: .25rem;
    cursor: pointer;
}

nav{
    position: relative;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid lightblue;
    border-color: lightblue;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    width: 100%;

    background-color: lightblue;
}



section.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 50%;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 20px;
    position: relative;
    top: 2rem;
    text-align: center;
}

section.container ul{
    list-style-type: none;
    padding: 20px;
}

section.container section.user-posts{
    flex-direction: column;
}

section.container div.user-img{
    width: 50%;
}

.tag{
    background-color: #00d9ff;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.new-user-form{
    font-size: 1.5em;
    flex-direction: column;
}

.text-box{
    padding: 10px;
}

.lg-font{
    font-size: 1.8em;
}

.md-font{
    font-size: 1.5em;
}